<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head') %>

<body>
<!-- Header -->
<% if (locals.user != undefined) { %>
    <%- include('./partials/headerLogueado')  %>
<% } else { %>
    <%- include('./partials/headerDeslogueado')  %>
<% } %> 
<!-- /Header -->

    <div class="container products-wrapper">
        <div class="d-flex align-items-center">
            <h1 class="products-title"><%= producto.nombre_producto %></h1> 
            <% if ((locals.user != undefined) && (locals.user.email == producto.usuario.email)) { %>
                <p class="product-detail-description"> 
                    <form action="/product/edit/id/<%= producto.id %>" method="GET">
                        <button type="submit" class="boton-enviar">Editar producto</button>
                    </form>
                </p>
                <p class="product-detail-description">
                    <form action="/product/delete/id/<%= producto.id %>" method="POST" onsubmit="return confirmar()">
                    <button type="subit" class="boton-enviar">Eliminar producto</button>
                    </form> 
                        <script>
                            function confirmar(){
                                const aprobacion = confirm("¿Deseas eliminar este producto?")
                                return aprobacion
                            }
                        </script> 
                        
                    
                </p>
            <% } %>
        </div>
        <div class="product-detail">
            <div class="row">
                <article class="col-12 col-lg-8 product-detail-info">
                    <img src="<%= producto.imagen_producto %>" alt="<%= producto.nombre_producto %>">
                    <p class="product-detail-description"><strong>Publicado por: </strong><a href="/user/profile/id/<%= producto.id_usuario %>"><%= producto.usuario.usuario %></a></p>
                    <p class="product-detail-description"><%= producto.descripcion_producto %></p>
                </article>
                <div class="col-12 col-lg-4">
                    <!-- Sección de comentarios -->
                    <h2 class="comentPpal">Comentarios</h2>
                    <% for (let k = 0; k < producto.comentarios.length; k++) { %>
                        <div class="comment">
                            <div class="comment-image-container">
                            <a href="/user/profile"><img class="fotoPerfil" src="<%= producto.comentarios[k].usuario.foto_perfil %>" alt="Foto de perfil"></a>
                            </div>
                            <div class="comment-text-container">
                            <p class="usuario"><%= producto.comentarios[k].usuario.usuario %> Ha comentado:</p>
                            <p class="comentario"><%= producto.comentarios[k].texto_comentario %></p>
                            </div>
                        </div>
                        <% } %>
                    
                    <h3 class="comentPpal">Agregar Comentario</h3>
                    <form action="/product/id/<%= producto.id %>" method="GET">
                        <label for="comentario" class="comentAgregado">Comentario:</label><br>
                        <textarea id="comentario" class="comentarioAgregado" name="comentario" rows="4" cols="50" required></textarea><br><br>
                        
                        <input class="boton-enviar" type="submit" value="Agregar Comentario">
                    </form>
                </div>     
            </div> 
        </div>   
    </div>


<%- include('./partials/footer') %>
</body>
</html>