<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head') %>

<body>
<!-- Header -->
<%- include('./partials/headerDeslogueado') %>    
<!-- /Header -->


<!-- product detail -->

    <div class="container products-wrapper">
        <div class="d-flex align-items-center">
            <h1 class="products-title"><%= data.nombre_producto%></h1> 
            <p class="product-detail-description">
                <form action="/product/add" method="get">
					<button type="submit" class="boton-enviar">Editar</button>
				</form>
            </p>
        </div>
        <div class="product-detail">
            <div class="row">
                <article class="col-12 col-lg-8 product-detail-info">
                    <img src="<%= data.imagen_producto %>" alt="" class="product-detail-img">
                    <p class="product-detail-description"><%= data.descripcion_producto %></p>
                </article>
                <div class="col-12 col-lg-4">
                    <!-- Sección de comentarios -->
                    <h1 class="comentPpal">Comentarios</h1>
                   			<!--  -->
                 
                    <h2 class="comentPpal">Agregar Comentario</h2>
                    <form action="/product/id/<%= data.id %>" method="GET">
                        <label for="comentario" class="comentAgregado">Comentario:</label><br>
                        <textarea id="comentario" class="comentarioAgregado" name="comentario" rows="4" cols="50" required></textarea><br><br>
                       
                        <input class="boton-enviar" type="submit" value="Agregar Comentario">
                    </form>
                </div>     
            </div> 
        </div>   
    </div>
 
 



<%- include('./partials/footer') %>
</body>
</html>