<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head') %>

<body>
<%- include('./partials/headerLogueado') %>

<<<<<<< HEAD
<% for(let i = 0; i < index.length; i++) { %>
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title"><%= index[i].nombre%></h2> 
			<p class="product-detail-description">
				<a href="product-add.html">Agregar al carrito</a>
				<figure class="product-box_image">
					<img src= "<%= index[i].comentarios. %>" alt= "<%= data.productos[i].nombre %>">
				</figure>
			</p>
		</div>
		<div class="product-detail">
			<div class="row">
				<% for(let i = 0; i < index.length; i++) { %>
				<article class="col-12 col-lg-8 product-detail-info">
					<img src= "<%= index.imagen %>" alt= "<%= index.nombre %>">
					<p class="product-detail-description">
						<%= index.descripcion %></p>
				</article>
				<% } %>
				<div class="col-12 col-lg-4">
					<section class="comments">
						<article>
							<img src="https://via.placeholder.com/35" alt="">
							<div class="data">
								<p class="user">
								<strong> <a href="profile.html">Nombre usuario: </a> </strong>
								 Texto del comentario que escribió el usuario Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora doloribus enim aspernatur fugit corrupti suscipit sit dolore magnam, praesentium explicabo inventore molestias facilis labore. Fugit ipsa mollitia odit inventore consequuntur.</p>
							</div>
						</article>
						<article>
							<img src="https://via.placeholder.com/35" alt="">
							<div class="data">
								<p class="user">
									<strong> <a href="profile.html">Nombre usuario: </a> </strong>
									Texto del comentario que escribió el usuario Lorem ipsum dolor sit amet consectetur.</p>
							</div>
						</article>
						<article>
							<img src="https://via.placeholder.com/35" alt="">
							<div class="data">
								<p class="user">
									<strong> <a href="profile.html">Nombre usuario: </a> </strong>
									Texto del comentario que escribió el usuario Lorem ipsum dolor sit amet consectetur adipisicing elit.
									</p>
							</div>
						</article>
						<article>
							<img src="https://via.placeholder.com/35" alt="">
							<div class="data">
								<p class="user">
									<strong> <a href="profile.html">Nombre usuario: </a> </strong>
									Texto del comentario que escribió el usuario Lorem ipsum dolor sit amet.</p>
							</div>
						</article>
						<article>
							<img src="https://via.placeholder.com/35" alt="">
							<div class="data">
								<p class="user">
									<strong> <a href="profile.html">Nombre usuario: </a> </strong>
									Texto del comentario que escribió el usuario Lorem ipsum dolor sit amet consectetur adipisicing elit.
									Tempora doloribus enim aspernatur fugit corrupti suscipit sit dolore</p>
							</div>
						</article>
=======
<% for( let i = 0; i < index.length; i++ ) { %>
    <div class="container products-wrapper">
        <div class="d-flex align-items-center">
            <h2 class="products-title"><%= index[i].nombre %></h2> 
            <p class="product-detail-description">
                <a href="product-add.html">Agregar al carrito</a>
                <!-- Asumiendo que querías mostrar una imagen relacionada con el producto o comentario -->
                <figure class="product-box_image">
                    <img src="<%= index[i].fotoPerfil %>" alt="<%= index[i].nombre %>">
                </figure>
            </p>
        </div>
        <div class="product-detail">
            <div class="row">
                <% for (let j = 0; j < index.length; j++) { %>
                    <article class="col-12 col-lg-8 product-detail-info">
                        <img src="<%= index[i].imagen %>" alt="<%= index[j].nombre %>">
                        <p class="product-detail-description">
                            <%= index[j].descripcion %>
                        </p>
                    </article>
                <% } %>
                <div class="col-12 col-lg-4">
                    <!-- Sección de comentarios -->
                </div>
            </div>
        </div>
    </div>
<% } %>
>>>>>>> 754c81289e4f62ee98382e66f4b04cff5e8ce0d4

<%- include('./partials/footer') %>
</body>
</html>