<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head') %>

<body>
<!-- Header -->
<%- include('./partials/headerDeslogueado') %>    
<!-- /Header -->

<% for( let i = 0; i < index.length; i++ ) { %>
    <div class="container products-wrapper">
        <div class="d-flex align-items-center">
            <h1 class="products-title"><%= index[i].nombre %></h1> 
            <p class="product-detail-description">
                <form action="/product/add" method="get">
					<button type="submit" class="agregarProd">Editar</button>
				</form>
            </p>
        </div>
        <div class="product-detail">
            <div class="row">
                <article class="col-12 col-lg-8 product-detail-info">
                    <img src="<%= index[i].imagen %>" alt="<%= index[i].nombre %>">
                    <p class="product-detail-description">
                        <%= index[i].descripcion %>
                    </p>
                </article>
                <div class="col-12 col-lg-4">
                    <!-- Sección de comentarios -->
                    <h1>Comentarios</h1>
                    <% for (let k = 0; k < comentarios.length; k++) { %>
                        <div class="comment">
                            <img src="<%= comentarios[k].fotoDePerfil %>" alt="Foto de perfil" width="auto" height="auto">
                            <p class="usuario">Usuario: <%= comentarios[k].usuario %></p>
                            <p class="comentario">Comentario: <%= comentarios[k].texto %></p>
                        </div>
                    <% } %>
                 
                    <h2>Agregar Comentario</h2>
                    <form action="/" method="POST">
    
                        <label for="comentario">Comentario:</label><br>
                        <textarea id="comentario" name="comentario" rows="4" cols="50" required></textarea><br><br>
                        
                        <input type="submit" value="Agregar Comentario">
                    </form>
                </div>     
            </div> 
        </div>   
    </div>
 
<% } %>


<%- include('./partials/footer') %>
</body>
</html>