<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<!-- Head -->
<%- include('./partials/head') %>	
<!-- /Head -->

<body>
	<!-- Header -->
	<%- include('./partials/headerLogueado') %>	
	<!-- /Header -->

	<div class="container-formulario">		

		<form class="formulario" action="/user/profile" method="GET">
			<h2 class="products-title">Editar Perfil:</h2>

			<div class="input_field">
			  <label for="email">Editar Email:</label>
			  <input type="text" class="input" name="email" value="" placeholder="Email actual: <%= usuario.email %>">
			</div>
			<div class="input_field">
			  <label for="usuario">Editar Usuario:</label>
			  <input type="text" class="input" name="usuario" value="" placeholder="Usuario actual: <%= usuario.usuario %>">
			</div>
			<div class="input_field">
			  <label for="contraseña">Editar Contraseña:</label>
			  <input type="password" class="input" name="contraseña" value="">
			</div>
			<div class="input_field">
				<label for="dni">Editar DNI:</label>
				<input type="number" class="input" name="dni" value="" placeholder="DNI actual: <%= usuario.documento %>"> 
			</div>
			<div class="input_field">
				<label for="nacimiento">Editar Fecha de Nacimiento:</label>
				<input type="date" class="input" name="nacimiento" value="" placeholder="Fecha de Nacimiento actual: <%= usuario.fechaDeNacimiento %>">
			</div>
			<div class="input_field">
				<label for="fotoPerfil">Foto de Perfil (URL):</label>
				<input class="input" type="text" id="fotoPerfil" name="fotoPerfil" required>
			</div>
			<button class="boton-enviar" type=submit><a href="/user/profile">Guardar Cambios</a></button>
		</form>
	</div>	

	<!-- footer -->
	<%- include('./partials/footer') %>	
	<!-- /footer -->
</body>

</html>